<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/app.css">
<% for (let campground of paginatedResults.results) { %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <% if(campground.images.length) { %>
            <img src="<%= campground.images[0].url %>" class="card-img-top img-fluid" alt="">
            <% } else { %>
            <img src="https://res.cloudinary.com/dzf2ezxvo/image/upload/v1658717190/Campedia/lutxgnowbtrfjedp3avv.jpg" class="card-img-top img-fluid" alt="">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a href="/campgrounds/<%= campground._id %>">
                    <h5 class="card-text"><%= campground.name %></h5>
                </a>
                <div class="card-text"><small class="text-muted"><%= campground.province %></small></div>
            </div>
        </div>
    </div>
</div>
<% } %>

<div class="container d-flex justify-content-center align-items-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <% if (paginatedResults.previous) { %>
            <li class="page-item">
                <a class="page-link" href="/campgrounds/all?page=<%=paginatedResults.previous.page%>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% } %>
            <% for (let i = 1; i <= paginatedResults.total + 1; i++) { %>
            <li class="page-item <%= i === paginatedResults.currPage ? 'active' : '' %>"><a class="page-link" href="/campgrounds/all?page=<%=i%>"><%=i%></a></li>
            <% } %>
            <% if (paginatedResults.next) { %>
            <li class="page-item">
                <a class="page-link" href="/campgrounds/all?page=<%=paginatedResults.next.page%>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <% } %>
        </ul>
    </nav>
</div>