<% layout('layouts/boilerplate') %>
<div class="card">
    <div class="ratio ratio-16x9">
        <img src="<%= imgUrl %>" class="card-img-top" alt="">
    </div>
    <div class="card-body">
        <h3 class="card-title"><%= campground.name %></h3>
        <div class="card-text"><small class="text-muted"><%= campground.province %></small></div>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Number of campsites: <%= campground.sites %></li>
        <li class="list-group-item">Phone Number: <%= campground.phone %></li>
    </ul>
    <div class="card-body">
        <h5 class="card-text">Amenities</h5>
    </div>
    <ul class="list-group list-group-flush">
        <% for (let amen of amenList) { %>
        <li class="list-group-item"><%= amen %></li>
        <% } %>
    </ul>

    <% if (campground.desc) { %>
    <div class="card-body">
        <p class="card-text"><%= campground.desc %></p>
    </div>
    <% } %>

    <div class="card-body">
        <a class="btn btn-info" href="/campgrounds/<%= campground._id %>/edit" class="card-link">Edit this campground</a>
        <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>